@charset "utf-8";
/* CSS Document */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


.root {
  padding-container: 100px 0;
  __color-title: #A58CF5;
}

body{
 font-family: "Montserrat", serif;
}	
.container{
	width: 90%;
	max-width:1200px;
	margin:0 auto;
	overflow: hidden;
	padding: var(padding-container) ;
		
}/*pag2*/
.rectangulo{
	background: #CBAED7;
	padding-container:0;
	color:aliceblue;
}
/*hero*/
.hero{
	width: 100%;
	height: 100vh;
	min-height: 600px;
	max-height: 800px;
	position: relative;
	display: grid;
	grid-template-rows: 100px 1fr;
	color:rgb(255, 255, 255);
	}
.hero::before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg,#0000008c 0%,#0000008c 100%),url("img/imagen\ principal.jpg");
	bacground background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
	z-index: -1;
}
/*nav*/
.nav{
	padding-container:0;
	height: 100px;
	display:flex;
	align-items:center;
	
}
.nav__title{
	font-weight: 300;
	
}
.nav__items{
	list-style: none;
	
	
}
.nav__links{
	color:rgb(255, 255, 255);
	text-decoration: none;

}
.nav__link{
	margin-left: auto;
	padding: 0;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: 2em;
}
.nav__menu{
	margin-left: auto;
	cursor: pointer;
}
.nav__img{
	display: block;
	width: 30px;
	display:none;
}

.nav__close{
	display: var(--show, none)
;}

/*hero container*/
.hero__container{
	max-width: 800px;
	display:grid;
	padding-container:0px;
	grid-auto-rows: max-content;
	align-content: center;
	gap:1em;
	padding-bottom: 100px;
	text-align: center;
}
.hero__title{
	font-size: 3rem;
	
}
.hero__paragraph{
	margin-bottom:20px;
	
}
.cta{
	display:inline-block;
	background-color:#cbaed7;
	justify-self: center;
	color:aliceblue;
	text-decoration: none;
	padding:13px 20px;
	border-radius: 30px;
	
	
}
/*main*/
/*about*/
.about{
	text-align: center;
}
.subtitle{
	color:#2A054F;
	font-size: 2rem;
	margin-bottom: 25px;
	margin-top: 25px;
	
}
.about__paragraph{
line-height: 1.7;

}
.about__main{

  padding-top: 80px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
	display:grid;
	gap:1em;
	justify-items:center;
	width:260px;
	overflow: hidden;
	margin:0 auto;
	
	
}
.about__icon{
	width:40px;
	
}

/*knowledge*/

.knowledge{
background-color: #e5e5f7;
background-image:  radial-gradient(#A58CF5 0.5px, transparent 0.5px), radial-gradient(#A58CF5 0.5px, #e5e5f7 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
	overflow: hidden;
	
}
.knowledge__container{
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap:1em;
	align-items: center;	
}
.knowledge__paragraph{
	line-height: 1.7;
	margin-bottom: 15px;
}
.knowledge__picture{
	max-width: 500px;
	
}

.knowledge__img{
	width:85%;
	height:450px;

	margin-top: 15px;
	margin-bottom: 15px;
	display:block;

	
}
/*carrousel icon*/
.icon__body{
	height: 50px;
	height: auto;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 50px 0px;
    gap: 20px;
	width: 100%;
	display: grid;
	background: #fff;
  }
.icon__container{
	height: 500px;
	display: flex;
	min-width: 400px;
	align-items: flex-end;
	justify-content: center;
	margin-top: -55px;
  }
  .icon__text{
	text-align: center;
	color: #2A054F;
	
	font-size: 2rem;

  }
  .icon, img{
	object-fit: cover;
  }
  .icon-image{
	position: relative;
	height: 70px;
	width: 70px;
	margin: 0 5px;
	cursor: pointer;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	background: #fff;
  }
  .icon-image .icon img{
	position: absolute;
	height: 95%;
	width: 95%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid #2A054F;
  }
  .icon-image::before{
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	left: 50%;
	top: -50px;
	transform: translateX(-50%);
  }
  .icon-image .hover-image{
	position: absolute;
	height: 350px;
	width: 300px;
	bottom: 100px;
	left: 50%;
	z-index: 0;
	transform: translateX(-50%);
	border-radius: 25px;
	pointer-events: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	transition: transform 0.5s ease, z-index 0s, left 0.5s ease ;
	transition-delay: 0s, 0.5s, 0.5s;
  }
  .icon-image:hover .hover-image{
	left: -200px;
	z-index: 12;
	transform: translateX(80px);
	transition: left 0.5s ease, z-index 0s, transform 0.5s ease;
	transition-delay: 0s, 0.5s, 0.5s;
  }
  .hover-image img{
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border: 3px solid #fff;
	border-radius: 25px;
  }
  .hover-image .content{
	position: absolute;
	width: 100%;
	bottom: -10px;
	padding: 0 10px;
  }
  .content::before{
	content: '';
	position: absolute;
	height: 20px;
	width: 20px;
	background: #fff;
	left: 50%;
	bottom: -7px;
	transform: rotate(45deg) translateX(-50%);
	z-index: -1;
  }
  .content .details{
	position: relative;
	background: #fff;
	padding: 10px;
	border-radius: 12px;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	transform: translateY(10px);
  }
  .icon-image:hover .details{
	transition: all 0.5s ease;
	transition-delay: 0.9s;
	opacity: 1;
	transform: translateY(4px);
	pointer-events: auto;
  }
  .details::before{
	content: '';
	position: absolute;
	height: 20px;
	width: 20px;
	background: #fff;
	left: 50%;
	bottom: -15px;
	transform: rotate(45deg) translateX(-50%);
	z-index: -1;
  }
  .content .details .name{
   font-size: 20px;
   font-weight: 500;
  }
  .content .details .job{
   font-size: 17px;
   color: #2A054F;
   margin: -3px 0 5px 0;
  }
  .content .details a:hover{
	color: #2A054F;
  }
  .container .last .hover-image{
	transition: none;
  }
  .container .last:hover .hover-image{
	transition: 0;
  }
  .last:hover .details{
	transition-delay: 0s;
  }
  
/*price*/

.price__container{

	background: #CBAED7 ;
	text-align: center;
}
.price{
	background: #CBAED7 ;
	text-align: center;
	margin-bottom: 30px;
}
	
.price__table{
	padding-top: 70px;
	display:flex;
	flex-wrap: wrap;
	gap:2.5em;
	justify-content: space-evenly;
	align-items: center;
	
}
.price__element{
	background: url(img/degradado.jpg);
	/*background-color:#A594B5;*/
	text-align: center;
	border-radius:10px;
	width:330px;
	padding:40px;
	margin-bottom: 15px;

		
}
.price__element--best{
	background:url(img/degradadom\ 2.jpg);
	width:370px;
	padding:60px 40px;
	font-size: 1.2rem;
	
	
}
.price__name{
	color:#fff;
	margin-bottom: 15px;
	font-weight: 300;
}

.price__price{
	font-size:1.5rem;
	color:#fdfcfd;
		
}

.price__items{
	margin-top: 35px;
	display:grid;
	font-weight:300;
	font-size: 1.2rem;
	margin-bottom: 50px;
	color:aliceblue;
	
}
/*testimony*/
.testimony{
	background-color:#fff;
	
}
.testimony__container{
	display: grid;
	grid-template-columns: 50px 1fr 50px;
	gap: 1em;
	align-items: center;
	
	
}
.testimony__body{
	display: grid;
	grid-template-columns: 1fr max-content;
	justify-content: space-between;
	align-items: center;
	gap:2em;
	grid-column: 2/3;
	grid-row:1/2;
	opacity:0;
	pointer-events:none;
	
}
.testimony__body--show{
	pointer-events: unset;
	opacity:1;
	transition: opacity 1.5s ease-in-out;
}
.testimony__img{
	width:300px;
	height: 300px;

	object-fit: cover;
	
	margin-top: 15px;
	margin-bottom: 15px;
	
}
.testimony__text{
	max-width: 700px;
	
	
}
.testimony__course{
	background-color: #54395B;
	color:#ffffff;
	display:inline-block;
	padding:5px;
}
.testimony__arrow{
	width:90%;
	cursor: pointer;
}

/*questions*/
.questions{
	text-align: center;
} 
.questions__container{
	display: grid;
	gap:2em;
	padding-top: 50px;
	padding-bottom: 100px;
}
.questions__padding{
	padding: 0;
	transition: padding .3s;
	border:1px solid #A2A5F5;
	border-radius: 6px;

}
.questions__padding--add{
	padding-bottom: 30px;
}
.questions__answer{
	padding:  0 30px 0;
	overflow: hidden;
	
}
.question__title{
	display: flex;
	font-size: 20px;
	padding: 30px 0 30px;
	cursor: pointer;
	font-size: 20px;
	color:#54395B;
	justify-content: space-between;
}
.question__arrow{
	border-radius: 50%;
	background-color:#e4cdfa ;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	margin-left: 10px;
	transition: transform.3s;

}
.question__arrow--rotate{
	transform: rotate(180deg);
}
.question__show{
	text-align: left;
	height: 0;
	transition: height .3s;
}
.question__img{
	display: block;
}
.questions__copy{
	
	width: 60%;
	margin: auto;
	margin-bottom: 30px;
}
/*footer*/
.footer{
	background-color: #cbaed7;;
	
}
.footer__title{
	
	
	font-size: 2rem;
	margin-bottom: 25px;
	margin-top: 25px;
}
.footer__title, .footer__newsletter{
	color:#fff;
}
.footer__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #fff;
	padding-bottom: 60px;
}
.nav--footer{
	padding-block: 20px;
	display:grid;
	gap: 1em;
	grid-auto-flow: row;
	height: 100%;
}
.nav__link--footer{
	display:flex;
	margin:0;
	margin-right:20px;
	flex-wrap: wrap;
}
.footer__social.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: flex;
    align-items: center; /* Alineación vertical */
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
}

.contact-list img {
    width: 30px; /* Ajusta el tamaño de las imágenes */
    height: 30px;
    margin-right: 10px;
	border:1px solid #f7f7f7;
	background-color:#ffffff;
	border-radius: 6px;
}

.contact-list a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #ffffff; /* Color del texto */
}

.footer__copy{
	--padding-container:30px 0;
	text-align: center;
	color:#fff;

}

.footer__copyright{
	font-weight:300;
}
.footer__icons{
	gap:4em;
	width:20px;
}